@inherits LayoutComponentBase

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
</nav>
<div class="main container-fluid">
    @Body
</div>

<BlazoredToasts Timeout="20" ErrorIconClass="fas fa-exclamation-circle" />